<h1> Welcome to Wifinder </h1>
<ul>
  <li> There are <%= Device.count %> devices in the DB. </li>
  <a href='/devices'> All Devices </a>
  <br>
  <li> There are <%= Ssid.count %> ssids in the DB. </li>
  <a href='/ssids'> All SSIDs </a>
  <li> There are <%= Device.more_than_five_ssids.count %> device with more than 5 SSIDs in the DB. </li>
  <a href='/multidevices'> Devices with more than 5 SSIDs </a>
  <br>
  <li> There are <%= Ssid.more_than_five_devices.count %> ssids with more than 5 devices in the DB. </li>
  <a href='/multissids'> SSIDs with more than 5 devices </a>
</ul>
