<h1> Welcome to Wifinder </h1>
<ul>
  <li> There are <%= Device.count %> devices in the DB. </li>
  <a href='/devices'> All Devices </a>
  <br>
  <li> There are <%= Ssid.count %> ssids in the DB. </li>
  <a href='/ssids'> All SSIDs </a>
</ul>
